.wordle {
  font-family: monospace;
  font-size: 60px;
}

.word {
  display: flex;
  justify-content: center;
  /* gap: 5px; */
}

.char {
  border: 3px solid black;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.submittedGuess {
  background-color: pink;
}

.currentGuess {
  background-color: lightblue;
}

.correctChar {
  background-color: green;
}

.presentChar {
  background-color: yellow;
}