:root {
  --black: #141414;
  --white: #EEF0F2;
  --yellow: #EEC643;
  --green: #419D78;
  --gray: #b4b8bb;
  --gray-dark: #9fa4a8;


  background-color: var(--black);
  color: var(--white);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
