.wordle {
  font-family: monospace;
  font-size: 50px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 20px; */
}

.wordle h2 {
  margin-bottom: 0;
}

.boardPositioner {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .board {

} */

.message {
  margin-top: 20px;
  font-size: 24px;
  text-align: center;
}

.word {
  display: flex;
  justify-content: center;
  /* gap: 5px; */
}

.char {
  border: 3px solid var(--white);
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.guessedChar {
  /* animation: flipIn 1s linear forwards, bgIncorrect 1s linear forwards; */
  animation: flipIn, bgIncorrect;
}

.correctChar {
  /* animation: flipIn 1s linear forwards, bgCorrect 1s linear forwards; */
  animation: flipIn, bgCorrect;
}

.presentChar {
  /* animation: flipIn 1s linear forwards, bgPresent 1s linear forwards; */
  animation: flipIn, bgPresent;
}

/* place this below the classes that use the animations */
.guessedChar,
.correctChar,
.presentChar {
  animation-duration: 1s, 1s;
  animation-timing-function: linear, linear;
  animation-fill-mode: forwards, forwards;
}

/* start flipping the next char when the previous is half way  */
.char:nth-of-type(2) {
  animation-delay: 500ms;
}

.char:nth-of-type(3) {
  animation-delay: 1000ms;
}

.char:nth-of-type(4) {
  animation-delay: 1500ms;
}

.char:nth-of-type(5) {
  animation-delay: 2000ms;
}

@keyframes flipIn {
  0% {
    border: 3px solid var(--white);
    transform: rotateX(0deg);
  }

  49% {
    border: 3px solid var(--white);
  }

  50% {
    border: 0;
    transform: rotateX(90deg);
  }

  100% {
    border: 0;
    transform: rotateX(0deg);
  }
}

@keyframes bgIncorrect {
  0% {
    background-color: transparent;
  }

  49% {
    background-color: transparent;
  }

  50% {
    background-color: rgba(255, 255, 255, 0.1);
  }

  100% {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

@keyframes bgCorrect {
  0% {
    background-color: transparent;
  }

  49% {
    background-color: transparent;
  }

  50% {
    background-color: var(--green)
  }

  100% {
    background-color: var(--green);
  }
}

@keyframes bgPresent {
  0% {
    background-color: transparent;
  }

  49% {
    background-color: transparent;
  }

  50% {
    background-color: var(--yellow)
  }

  100% {
    background-color: var(--yellow);
  }
}